# Required
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DB_NAME
JWT_SECRET_KEY=FBv_JrwzKziG1OZyfsQyNBaQ_tINBf6QS__IhIAqAKw
ALLOWED_ORIGINS=https://your-service.onrender.com
ENV=production

# Optional
ENABLE_DEBUG_ROUTES=false
ACCESS_TOKEN_EXPIRE_MINUTES=60
DEBUG=false
LOG_LEVEL=INFO
SQL_LOG_LEVEL=WARNING