--
-- PostgreSQL database dump
--

\restrict v8EIL1TdoS7XTEkBgEVoEvKh2aOrLwtVEMI2sYp1arOD6nJYQQu7cr6KknuALMl

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg12+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: family_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO family_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: event_participants; Type: TABLE; Schema: public; Owner: family_user
--

CREATE TABLE public.event_participants (
    id integer NOT NULL,
    event_id integer NOT NULL,
    user_id integer NOT NULL,
    status character varying(50) NOT NULL,
    invited_at timestamp without time zone NOT NULL
);


ALTER TABLE public.event_participants OWNER TO family_user;

--
-- Name: event_participants_id_seq; Type: SEQUENCE; Schema: public; Owner: family_user
--

CREATE SEQUENCE public.event_participants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.event_participants_id_seq OWNER TO family_user;

--
-- Name: event_participants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: family_user
--

ALTER SEQUENCE public.event_participants_id_seq OWNED BY public.event_participants.id;


--
-- Name: events; Type: TABLE; Schema: public; Owner: family_user
--

CREATE TABLE public.events (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    year integer,
    month integer NOT NULL,
    day integer NOT NULL,
    start_time time without time zone,
    end_time time without time zone,
    calendar_type character varying(50) NOT NULL,
    repeat_type character varying(50) NOT NULL,
    next_occurrence date,
    family_id integer NOT NULL,
    created_by integer NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.events OWNER TO family_user;

--
-- Name: events_id_seq; Type: SEQUENCE; Schema: public; Owner: family_user
--

CREATE SEQUENCE public.events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.events_id_seq OWNER TO family_user;

--
-- Name: events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: family_user
--

ALTER SEQUENCE public.events_id_seq OWNED BY public.events.id;


--
-- Name: families; Type: TABLE; Schema: public; Owner: family_user
--

CREATE TABLE public.families (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.families OWNER TO family_user;

--
-- Name: families_id_seq; Type: SEQUENCE; Schema: public; Owner: family_user
--

CREATE SEQUENCE public.families_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.families_id_seq OWNER TO family_user;

--
-- Name: families_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: family_user
--

ALTER SEQUENCE public.families_id_seq OWNED BY public.families.id;


--
-- Name: family_memberships; Type: TABLE; Schema: public; Owner: family_user
--

CREATE TABLE public.family_memberships (
    id integer NOT NULL,
    user_id integer NOT NULL,
    family_id integer NOT NULL,
    role character varying(50) NOT NULL,
    joined_at timestamp without time zone NOT NULL
);


ALTER TABLE public.family_memberships OWNER TO family_user;

--
-- Name: family_memberships_id_seq; Type: SEQUENCE; Schema: public; Owner: family_user
--

CREATE SEQUENCE public.family_memberships_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.family_memberships_id_seq OWNER TO family_user;

--
-- Name: family_memberships_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: family_user
--

ALTER SEQUENCE public.family_memberships_id_seq OWNED BY public.family_memberships.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: family_user
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    user_id integer NOT NULL,
    event_id integer,
    message text NOT NULL,
    type character varying(50) NOT NULL,
    is_read boolean NOT NULL,
    created_at timestamp without time zone NOT NULL,
    send_at timestamp without time zone,
    sent boolean NOT NULL
);


ALTER TABLE public.notifications OWNER TO family_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: family_user
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO family_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: family_user
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: family_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO family_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: family_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO family_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: family_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: event_participants id; Type: DEFAULT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.event_participants ALTER COLUMN id SET DEFAULT nextval('public.event_participants_id_seq'::regclass);


--
-- Name: events id; Type: DEFAULT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.events ALTER COLUMN id SET DEFAULT nextval('public.events_id_seq'::regclass);


--
-- Name: families id; Type: DEFAULT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.families ALTER COLUMN id SET DEFAULT nextval('public.families_id_seq'::regclass);


--
-- Name: family_memberships id; Type: DEFAULT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.family_memberships ALTER COLUMN id SET DEFAULT nextval('public.family_memberships_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: event_participants; Type: TABLE DATA; Schema: public; Owner: family_user
--

COPY public.event_participants (id, event_id, user_id, status, invited_at) FROM stdin;
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: family_user
--



--
-- Data for Name: families; Type: TABLE DATA; Schema: public; Owner: family_user
--

COPY public.families (id, name, created_at) FROM stdin;
1	kaufman	2026-04-12 17:00:46.98954
\.


--
-- Data for Name: family_memberships; Type: TABLE DATA; Schema: public; Owner: family_user
--

COPY public.family_memberships (id, user_id, family_id, role, joined_at) FROM stdin;
1	1	1	admin	2026-04-12 17:00:47.012021
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: family_user
--

COPY public.notifications (id, user_id, event_id, message, type, is_read, created_at, send_at, sent) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: family_user
--

COPY public.users (id, email, name, password_hash, created_at) FROM stdin;
1	tovi@example.com	tovi	$2b$12$sQMMwNsbzY5Rl.y7w1OKZOC3U/6pn9ZcZyFFMjV0dHHbw33IYbRtS	2026-04-12 16:58:14.728949
\.


--
-- Name: event_participants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: family_user
--

SELECT pg_catalog.setval('public.event_participants_id_seq', 1, false);


--
-- Name: events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: family_user
--

SELECT pg_catalog.setval('public.events_id_seq', 12, true);


--
-- Name: families_id_seq; Type: SEQUENCE SET; Schema: public; Owner: family_user
--

SELECT pg_catalog.setval('public.families_id_seq', 1, true);


--
-- Name: family_memberships_id_seq; Type: SEQUENCE SET; Schema: public; Owner: family_user
--

SELECT pg_catalog.setval('public.family_memberships_id_seq', 1, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: family_user
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: family_user
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: event_participants event_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.event_participants
    ADD CONSTRAINT event_participants_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: families families_pkey; Type: CONSTRAINT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.families
    ADD CONSTRAINT families_pkey PRIMARY KEY (id);


--
-- Name: family_memberships family_memberships_pkey; Type: CONSTRAINT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.family_memberships
    ADD CONSTRAINT family_memberships_pkey PRIMARY KEY (id);


--
-- Name: family_memberships family_memberships_user_id_family_id_key; Type: CONSTRAINT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.family_memberships
    ADD CONSTRAINT family_memberships_user_id_family_id_key UNIQUE (user_id, family_id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_events_id; Type: INDEX; Schema: public; Owner: family_user
--

CREATE INDEX ix_events_id ON public.events USING btree (id);


--
-- Name: ix_events_next_occurrence; Type: INDEX; Schema: public; Owner: family_user
--

CREATE INDEX ix_events_next_occurrence ON public.events USING btree (next_occurrence);


--
-- Name: ix_families_id; Type: INDEX; Schema: public; Owner: family_user
--

CREATE INDEX ix_families_id ON public.families USING btree (id);


--
-- Name: ix_notifications_user_event_type; Type: INDEX; Schema: public; Owner: family_user
--

CREATE INDEX ix_notifications_user_event_type ON public.notifications USING btree (user_id, event_id, type);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: family_user
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: family_user
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: event_participants event_participants_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.event_participants
    ADD CONSTRAINT event_participants_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: event_participants event_participants_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.event_participants
    ADD CONSTRAINT event_participants_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: events events_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: events events_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id);


--
-- Name: family_memberships family_memberships_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.family_memberships
    ADD CONSTRAINT family_memberships_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.families(id);


--
-- Name: family_memberships family_memberships_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.family_memberships
    ADD CONSTRAINT family_memberships_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: notifications notifications_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: family_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO family_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO family_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO family_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO family_user;


--
-- PostgreSQL database dump complete
--

\unrestrict v8EIL1TdoS7XTEkBgEVoEvKh2aOrLwtVEMI2sYp1arOD6nJYQQu7cr6KknuALMl

